.log {
    background-image: url(../back.jpg);
    background-size: cover;
    height: 598px;
    
}
.log2{
    background-image: url(../back.jpg);
    background-size: cover;
    height: 598px;
}
.log3{
    background-image: url(../back.jpg);
    background-size: cover;
    height: 598px;
}